/*.board {
	display: flex;
	justify-content: center;
}*/

.board-list {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.board-name {
	color: grey;
	padding-left: 8px;
	font-family: Arial;
	font-weight: 700;
	padding-bottom: 0px;
	margin-bottom: 3px;
}

.card {
  /* Add shadows to create the "card" effect */
  font-family: Arial;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: white;
  margin: 5px;
  width: 300px;
  height: 45px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-list {
	display: flex;
	justify-content: center;
}

/* Add some padding inside the card container */
.card-container {
	color: rgb(60,60,60);
  padding: 2px 16px;
}

.dots {
	display: flex;
	justify-content: flex-end;
}

.footer-container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	color: grey;
	font-family: Arial;
	font-weight: 500;
  padding: 8px 8px;
  margin-top: 6px;
}

.inner-border {
	background-color: rgb(219,221,224);
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

.outer-border {
	display: flex;
	justify-content: center;
	background-color: rgb(0,158,195);
	padding: 3px;
}

.title-container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	color: rgb(60,60,60);
	font-family: Arial;
	font-weight: 700;
  padding: 8px 8px;
  margin-top: 6px;
}

